@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --fuente:"Inter", sans-serif;
}
body{
    background-color: #E5E5E5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    width: 94%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10%;
    margin-left: 10%;
}
.contenedor_encriptador{
    width: 59%;
    height: 83%;
    margin-top: 10%;
}
.contenedor_encriptador textarea{
    width: 100%;
    padding: 1% 0 50% 0;
    font-size: 32px;
    outline: none;
    border: none;
    background-color: #E5E5E5;
}
.contenedor_encriptador textarea::placeholder{
    color: darkblue;
}
.contenedor_encriptador p{
    display: flex;
    align-items: center;
    font-family:var(--fuente);
    font-size: 12px;
    font-weight: 400;
    margin: 10px 0;
    gap: 8px;
}
.contenedor_encriptador p img{
    height: 16px;
    width: 16px;
}
.contenedor_encriptador_botones{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4%;
}
.contenedor_encriptador_botones button{
    font-family:var(--fuente);
    font-size: 16px;
    font-weight: 400;
    width: 48%;
    height: 67px;
    border: 1px solid darkblue;
    border-radius: 24px;
}
.contenedor_encriptador_boton1{
    background-color: #0A3871;
    color: white;
}
.contenedor_encriptador_boton2{
    background-color: #D8DFE8;
    color: darkblue;
}
.contenedor_resultado{
    width: 31%;
    height: auto;
    margin-top: 3%;
    background-color: white;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contenedor_resultado_img{
    height: 40%;
}
.contenedor_resultado_texto{
    height: 100%;
    width: 84%;
    margin: 32px 19px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    justify-content: center;
}
.resultado_texto2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.contenedor_resultado_texto textarea{
    height: 100%;
    border: none;
}
.contenedor_resultado_subtitulo{
    font-family:var(--fuente);
    font-size: 24px;
    font-weight: bold;
}
.contenedor_resultado_parrafo{
    height: 48px;
    font-family:var(--fuente);
    font-size: 16px;
    font-weight: 400;
}
.Boton_copiar{
    justify-self: flex-end;
    width: 90%;
    height: 67px;
    margin: 0px 19px;
    background-color: white;
    border: 1px solid darkblue ;
    border-radius: 24px;
    margin-bottom: 5%;
}
footer{
    text-align: center;
    padding: 5px;
    background-color: rgb(182, 182, 182);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media (max-width:800px){
    .contenedor{
        margin-left: 0;
        flex-direction: column;
        gap: 64px;
    }
    .contenedor_encriptador{
        width: 100%;
        height: auto;
        margin-left: 3%;
    }
    .contenedor_resultado{
        width: 100%;
        margin-left: 3%;
    }
    .contenedor_resultado_img{
        display: none;
    }
    .contenedor_resultado_texto{
        height: auto;
        width: auto;
    }
}
@media (max-width:375px){
    .contenedor_encriptador{
        width: auto;
    }
    .contenedor_encriptador_botones{
        width: 100%;
        flex-direction: column;
        gap: 24px;
    }
    .contenedor_encriptador_botones button{
        width: 100%;
    }
    .contenedor_resultado{
        width: 100%;
    }

}
